ul {
    display: flex;

}
li {
    text-decoration: none;
    list-style: none;
}
li a {
    text-decoration: none;
    padding: 14px;
    margin: 14px;
    color: red;
    font-family: "Edu SA Hand", cursive;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
h1 {
    justify-content: center;
    text-align: center;
    color: black;
    background-color: bisque;
    transform: scale(1.1);
     /* transform: rotate(17deg);  */
}
body {
    background-color: black;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('bg.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    opacity: 0.5;
}
li a:hover {
    background-color: bisque;
}
.Head {
    animation: slideDown 1s ease-in-out forwards;
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
body::before {
    opacity: 0.6;
    /* 1.5 is invalid. Max = 1 */
    animation: bgFade 5s infinite alternate;
}
@keyframes bgFade {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.6;
    }
}

.walk-heading {
    position: relative;
    display: inline-block;
    color:black;
    font-size: 1.5rem;
    animation: walk 10s linear infinite;
    white-space: nowrap; /* prevents wrapping */
    /* transform: rotate(17deg); */
}
@keyframes walk {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
.walk-heading:hover {
    animation-play-state: paused;
}
.container{
    box-sizing: border-box;
    /* border: 2px solid black; */
    /* background-color: bisque; */
    color: black;
    
}

p{
  box-sizing: border-box;
    border: 2px solid black;
    background-color: bisque;
    color: #000000;
    display: inline-block;
    padding: 12px; 
    width: 20%;
    height: 30%;
    margin: 85px;
    margin-top: 150px;
font-weight: bold;
    font-family: "Edu SA Hand", cursive;
      animation: fadeInUp 1s ease-in-out, blink 1.5s linear infinite;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animated-heading {
    color: blanchedalmond;
    font-size: 2rem;
    font-family: "Edu SA Hand", cursive;
    text-align: center;
    margin-top: 50px;
    animation: slideInScale 2s ease-out;
    text-shadow: 1px 2px 1px;
}
@keyframes slideInScale {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
